body {
  background: #030303;
}

body, textarea, code {
  color: #aaaaaa;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
}

a, .selector {
  text-decoration: none;
  color: #00aa00;
  cursor: pointer;
}

.selector.active {
  color: #dddddd;
}

a:hover, a:focus, .selector:hover, .selector:focus {
  color: #ffffff;
}

.error {
  color: #ff0000;
}

.highlighted {
  font-style: normal;
  color: #ffffff;
}

#stop-button {
  color: #990000;
  display: none;
}

#stop-button:hover, #stop:focus {
  color: #ff0000
}

.underlined {
  text-decoration: underline;
}

textarea, code, canvas {
  background-color: #000000;
  border: 1px solid #aaaaaa;
}

textarea {
  resize: none;
}

code {
  display: inline-block;
  white-space: pre-wrap;
  overflow: auto;
}

code p {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1.25em;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.6em;
}

.horizontal-container, .horizontal-wrap-container {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}

.horizontal-wrap-container {
  flex-wrap: wrap;
  row-gap: 0.6em;
}

header {
  margin-bottom: 1em;
}

#days-container {
  flex-shrink: 0;
}

#task-input, #solution-console, #visualization-container code {
  width: 25em;
}

#task-input {
  height: 16.5em;
}

#task-input {
  height: 10em;
}

#solution-console {
  height: 16.5em;
}

#visualization-container code {
  height: 33em;
}