body {
  background: #0f0f23;
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
}

a, .selector {
  text-decoration: none;
  color: #009900;
  cursor: pointer;
}

.selector {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover, a:focus, .selector:hover, .selector:focus, .selector.active {
  color: #99ff99;
}

.error {
  color: #ff0000;
}

.highlighted {
  font-style: normal;
  color: #ffffff;
}

.underlined {
  text-decoration: underline;
}

textarea {
  resize: none;
  background-color: #10101a;
  border: 1px solid #333340;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  color: #999999;
}

code {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  white-space: pre-wrap;
  color: #999999;
  background: #10101a;
  border: 1px solid #333340;
  overflow: auto;
}

code p {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1.25em;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.6em;
}

.horizontal-container, .horizontal-wrap-container {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}

.horizontal-wrap-container {
  flex-wrap: wrap;
  row-gap: 0.6em;
}

header {
  margin-bottom: 1em;
}

nav em, #part-and-input-selector em {
  font-style: normal;
  color: #99ff99;
}

#days-container {
  flex-shrink: 0;
}

#task-input, #solution-console, #visualization-container code {
  width: 25em;
}

#task-input {
  height: 16.5em;
}

#stop-button {
  color: #990000;
  display: none;
}

#stop-button:hover, #stop:focus {
  color: #ff0000
}

#task-input {
  height: 10em;
}

#solution-console {
  height: 16.5em;
}

#visualization-container code {
  height: 39.4em;
}

#visualization-container canvas {
  background-color: #10101a;
  border: 1px solid #333340;
}