name: Deploy
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6

      - name: Run test
        run: |
          npm i -g mocha
          mocha test.mjs --timeout 30000

      - name: Remove test file
        run: rm -f test.mjs

      - name: Upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: .

  publish:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4